.paging{
  padding:0 0.5rem;
  a,span,input,button{
    text-decoration:none;
    display:inline-block;
    vertical-align: middle;
    font-size:inherit;
    color:inherit;
    font-weight:300;
    margin:0 0.2rem;
  }
  a{
    padding:0.3rem 0.8rem;
    color:#3293E5;
    border-radius:3px;
  }
  span{
    padding:0 0.3rem;
  }
  input{
    padding:0.2rem 0.5rem;
    width:3em;
    outline:none;
    border:1px solid #eee;
  }
  button{
    border:none;
    background:#3293E5;
    color:#fff;
    padding:0.3rem 0.5rem;
    border-radius:3px;
    outline:none;
  }
}