.router{
  font-size:14px;
  color:#666;
  font-weight:300;
  display:inline-block;
  vertical-align: middle;
  a{
    text-decoration: none;
    color:inherit;
    &:before{
      content:">";
      font-size:inherit;
      color:inherit;
      margin:0 0.2rem;
    }
    &:first-child:before{
      display:none;
    }
  }
}